body {
    background-color: #FFEAEA;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: grey;
    width: 10%;
}  

/*
img {
    border: solid #9A208C;
    background-color:#F5C6EC;
    height: 200px;
}
*/
#profileimg{
    border: solid #9A208C;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    border-style: dashed;
    background-color:#F5C6EC;
    height: 200px;    
}
#profileimg:hover{
    background-color: #000000;
    border-style: groove;
}
.intro{
    color: #D864A9;
}

em{
    color: black;
}
h3{
    color: #9A208C;
}
h3 {
    text-decoration: underline;
}

#myname{
    text-decoration: underline dotted;
    cursor: pointer;
    color: #9A208C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s;
    }
    
#myname:hover{
    color: #000000;
}
