a{
    color: #C147E9;
    font-family: 'montserrat', sans-serif;
}

a:hover{
    color: #ece3f0;
}

body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: 40514E;
}
.top-container{
    background-color: #E5B8F4;
    margin-top: 0px;
    margin-right: 0px ;
    margin-left: 0px;
}
h1{ 
    color:  #810CA8;
    font-size: 90px;
    margin-top: 70px;
    margin-bottom: 0px;
    font-family: 'Sacramento', cursive;
} 
h2{
    font-weight: normal;
    color:  #810CA8;
    margin-top: 0px;
    font-size: 2.5em;
    font-family: 'montserrat', sans-serif;

}

h3{
    color:#C147E9;
    font-family: 'montserrat', sans-serif;
    
}

.top-cloud{
    position: absolute;
    right: 35%;
    top: 10%;
    
}

.bottom-cloud{
    position: absolute;
    bottom: 28%;
}

.top-container{
    position: relative;
    padding-top: 100px;
}


.editing{
    width: 25%;
    display: block;
    position: absolute;
    left: 5%;
    top: 10%;
}

.trading{
    width: 18%;
    display:block;
    position:absolute;
    left: 5%;
    top: 10%;
}

.web-development{
    width: 23%;
    display: block;
    position: absolute;
    left: 5%;
    top: 10%;
}

.skill-row{
    position: relative;
}

.profile{
    position: relative;
    padding-top: 100px;
    padding-bottom: 30px;
}

p{
    line-height: 2;
}

.intro{
    width: 40%;
    margin: auto;
}

.profileimg{
    margin-bottom: 50px;
}

hr{
    border-style: none;
    border-width: 5px;
    border-top-style: dotted;
    border-color:gray;
    width: 10%;
    padding: 10px;
}

.skills{
    position: relative;
    width: 80%;
    margin: auto;
}

.contact-message{
    width: 40%;
    margin: 20px auto;
}

button{
    color: #810CA8;
    margin: 5%;
    border-radius: 8px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #871aac, #810CA8);
    background-image: -moz-linear-gradient(top, #871aac, #810CA8);
    background-image: -ms-linear-gradient(top, #871aac, #810CA8);
    background-image: -o-linear-gradient(top, #871aac, #810CA8);
    background-image: linear-gradient(to bottom, #871aac, #810CA8);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 20px;;

  }
  
  .btn:hover {
    background: #C147E9;
    background-image: -webkit-linear-gradient(top, #C147E9, #c338f1);
    background-image: -moz-linear-gradient(top, #C147E9, #c338f1);
    background-image: -ms-linear-gradient(top, #C147E9, #c338f1);
    background-image: -o-linear-gradient(top, #C147E9, #c338f1);
    background-image: linear-gradient(to bottom, #C147E9, #c338f1);
    text-decoration: none;
  }
  


.bottom-container{
    padding: 3%;
    background-color: #E5B8F4;
    margin-bottom: 0;
}

.final{
    color: #fafafa;
    font-size: 12px;
}
.footer-link{
    margin: 10px 20px;
    text-decoration: none;
    padding: 20px 0;
}

.skill-description{
    width: 50%;
    text-align: left;
    display: inline-block;
    margin-bottom: 250px;
    padding-left: 20%;
}

.skill-name{
    display: inline-block;
}

.mountain{
    width: 50%;
}

table{
    margin: auto;
}